<app-navbar-style-four></app-navbar-style-four>
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Quiz</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Quiz</li>
            </ul>
        </div>
    </div>

    <div class="quiz-container">
      <div *ngIf="questions.length > 0">
        <h2>Quiz Question {{ currentQuestionIndex + 1 }}</h2>
        <p class="question-text">{{ questions[currentQuestionIndex].text }}</p>
        <ul class="answer-choices">
          <li *ngFor="let answer of questions[currentQuestionIndex].choices; let i = index">
            <label>
              <input type="radio"
                     name="answer"
                     [value]="i"
                     
                     (change)="selectAnswer(i)">
                     <span> {{ answer }} </span>
            </label>
          </li>
        </ul>
        <button (click)="nextQuestion()">Next</button>
      </div>
      <div *ngIf="questions.length === 0">
        <p>Quiz completed! Your score is {{ score }}.</p>
      </div>
    </div>
    
      

<app-footer-style-two></app-footer-style-two>
