.btn-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.delete-icon {
    font-size: 16px;
    margin-right: 5px;
}
.comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
