
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Details du Blog</h3>
            <ul>
                <li><a href="index.html">Acceuil</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Details du Blog</li>
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="case-studies-widget pt-50">
    <div class="container" *ngIf="blog">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="case-studies-content">
                    <div class="images-top" *ngIf="images">
                        <img [src]="images" alt="Images" style="width: 700px; height: auto;">
                    </div>
                    <span></span>
                    <h2>{{ blog.title }}</h2>
                    <p>{{ blog.description }}</p>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="contact-widget">
                    <h2>Info</h2>
                    <ul>
                        <li>
                            <i class="flaticon-telephone"></i>
                            <div class="content">
                                <h3>Propriétaire du blog </h3>
                                <span>{{ loggedInUser.firstName }} {{ loggedInUser.lastName }}</span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            <div class="content">
                                <h3>Quand ?</h3>
                                <span>{{ blog.createdOn | date: 'longDate' }}</span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-planet-earth"></i>
                            <div class="content">
                                <h3>Location:</h3>
                                <span>Turquie</span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-price-tag"></i>
                            <div class="content">
                                <h3>Coût :</h3>
                                <span>1,500 DT</span>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-planet-earth"></i>
                            <div class="content">
                                <h3>Contact :</h3>
                                <span><a href="#">54 963 533</a></span>
                            </div>
                        </li>

                    </ul>
                </div>
                <button type="button" class="btn btn-primary mt-3" (click)="goToUpdateBlog(blog.id)">
                    Mettre à jour le Blog
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Vos commentaires</h2>
            <p class="text-center">Nous attachons de l'importance à vos retours. Merci de nous faire part de votre expérience lors de l'événement.</p>

            <form class="mb-4" (ngSubmit)="createComment()">
                <div class="form-group">
                    <label for="feedback">Votre commentaire :</label>
                    <textarea id="feedback" name="feedback" rows="4" class="form-control" [(ngModel)]="newComment.content" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Soumettre Vos Commentaires</button>
            </form>

            <div class="comments-section">
                <h3>Commentaires :</h3>
                <div class="comment" *ngFor="let comment of comments">
                    <div class="comment-avatar">
                        <img [src]="comment.image" >
                    </div>
                    <div class="comment-content">
                        <div class="comment-header">
                            <span class="comment-author">{{ loggedInUser.firstName }} {{ loggedInUser.lastName }}</span>

                        </div>
                        <p>{{ comment.content }}</p>
                        <button class="btn-delete" (click)="deleteComment(comment.id)">
                            <i class="far fa-trash-alt"></i> Supprimer le commentaire
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="brand-logo-area pt-100">
    <div class="container-fluid">
        <div class="container-max">
            <div class="brand-logo-slider owl-carousel owl-theme">
                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo1.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo2.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo3.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo4.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo5.png" alt="Images">
                </div>

                <div class="brand-logo-item">
                    <img src="assets/img/brand/brand-logo6.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>


